* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

button,
.googleBookLink {
        margin: 10px 10px;
        padding: 10px 10px;
        border: none;
        background-color: $headingText;
        color: white;
        font-family: $paragraphFont;
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        border-radius: 30px;
        padding: 2%;
        width:30%;
       
    }
button {
    &:hover,
    &:focus {
            background-color: $backgroundColorPrimary;
            color: $headingText;
            box-shadow: 5px 5px 5px rgba($headingText, 0.5)
        }
}
.googleBookLink {
    text-decoration: none;
    z-index: 1;
        &:hover,
        &:focus {
            background-color: $fieldsetBackground;
            box-shadow: 5px 5px 5px rgba($headingText, 0.5)
        }
}

footer {
    background-color: $fieldsetBackground;
    p {
        padding: 1% 0;
        color: $headingText;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: white;
        &:hover,
        &:focus {
            color: $headingText;
            text-decoration: underline;
        }
    }
}