header {
    background-color: $backgroundColorPrimary;
    max-height: 100vh;
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
        color: $headingText;
        &:hover,
        &:focus {
            border-bottom: 2px dashed $headingText;
            padding-bottom: 0.05%;
        }
    }
    .headerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        text-align: center;
        margin-bottom: 5%;
    }
    .imgSpan {
        text-align: center;
        width: 90%;
        img {
        width: 25%;
        text-align: center;
        }
    }
}