@media (max-width: 1100px) {
    fieldset {
        flex-direction: column;
        align-items: center;
        button,
        select {
            width: 80%;
        }  
    }
    header .imgSpan img {
        width: 35%;
    }
    .bookResults .bookListLi {
        width: calc(50% - 6%);
        margin: 3%;
        padding: 3%;
    }
    .bookResults li.fullWidth {
        width:100%;
    }
}

@media (max-width: 850px) {
    .bookResults .bookListLi {
        width: calc(100% - 6%);
        &:hover,
        &:focus {
            transform: none;
        }
        h3 {
            font-size: 1.5rem;
            margin-bottom: 2%;
        }
        h4 {
            margin-bottom: 2%;
        }
        .googleBookLink {
            padding: 3%;
            width: 80%;
        }
    }

}

@media (max-width: 750px) {
    fieldset,
    .headingParagraph {
        width: 100%;
    }
    header .imgSpan img {
        width: 50%;
    }
    h2 {
        font-size: 1.8rem;
    }
    .bookResults .bookListLi {
        padding: 5% 3% 5% 3%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 1.4rem;
        text-align: center;
    }
    .headingParagraph,
    select,
    fieldset button {
        font-size: 1rem;
    }
    .bookResults .bookListLi {
        margin: 3% 0 3% 0;
        width:90%;
        h3 {
            font-size: 1.2rem;
        }
    }
    .bookResults li.fullWidth h3 {
        padding-top: 3%;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 2rem;
    }
    fieldset {
        width:90%;
        button, select {
            font-size: 0.8rem;
        }
    }
    header .imgSpan img {
        width: 80%;
        margin:0;
    }
    select {
        background-size: 18px ;
    }

    .headingParagraph {
        font-size: 0.9rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}