@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Serif:wght@300;500;600&display=swap');

/* Base Font Styles */

html {
    font-size: 125%;
}

/* Typography */
// body {
//     font-family: $paragraphFont;
//     font-weight: 400;
//     font-size: 1rem;
//     color: $bodyFont;
//     /* Add line-height and letter-spacing */
// }

h1, h2, h3 {
    font-family: $headerFont;
    color: $headingText;
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 3rem;
    text-transform: lowercase;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    padding: 2% 2% 5% 2%;
}

h3 {
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0 5% 0 5%;
}

h4, p {
    font-family: $paragraphFont;
    font-weight: 400;
    font-size: 1rem;
    color: $bodyFont;
    /* Add line-height and letter-spacing */
}

.bookDescriptionContainer p,
.googleBookLink {
    position: absolute;
    left: -5000px;
    top: -5000px;
}

.headingParagraph {
    font-family: $headerFont;
    font-weight: 300;
    color: $headingText;
    font-size: 1.3rem;
    padding-bottom: 5%;
    text-align: center;
    width:60%;
}
