@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Serif:wght@300;500;600&display=swap');

/* Base Font Styles */

html {
    font-size: 125%;
}

/* Typography */

h1, h2, h3 {
    font-family: $headerFont;
    margin: 0;
}

h1, h3 {
    color: $headingText;   
}


h1 {
    font-weight: 300;
    font-size: 3rem;
    text-transform: lowercase;
    animation: typing 1.5s steps(30), blink-caret .9s step-end infinite;
    overflow: hidden; 
    border-right: 0.2rem solid $headingText; 
    white-space: nowrap; 
    margin: 0 auto; 
    width: 100%;
    letter-spacing: 0.3rem;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    padding: 2% 2% 5% 2%;
    color: white;
    
}

h3 {
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0 5% 0 5%;
}

h4 {
    padding-top: 2%;
}

h4, p {
    font-family: $paragraphFont;
    font-weight: 400;
    font-size: 1rem;
    color: $bodyFont;
}

.bookDescriptionContainer p {
    position: absolute;
    opacity: 0;
    left: -5000px;
    top: -5000px;
}

.googleBookLink {
    position: absolute;
    opacity: 0;
}

.headingParagraph {
    font-family: $headerFont;
    font-weight: 400;
    color: $headingText;
    font-size: 1.3rem;
    padding-bottom: 2%;
    text-align: center;
    width:60%;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $headingText; }
}

