/* Site Fonts */
$headerFont: 'Roboto Serif', sans-serif;
$paragraphFont: 'Montserrat', sans-serif;

/* Site Colors */

$bodyFont: #171717;
$headingText: #264e70;
$bookListBackground: #fdebd3;
// $bookListBackground: #fac950;
$backgroundColorPrimary: #bbd4ce;
$backgroundColorSecondary: #679186;
// $backgroundColorSecondary: #08736d;
$accentColor: #f9b4ab;